# Python virtual environment folder
# add you own if you use a different name
.venv/

# Environment variables file
.env

# Visual studio code's folder
.vscode/

# Automatically compiled python files
__pycache__/

# Don't push the datasets onto the github
/data/datasets/**
# Add a link to them for others to download locally in this file
!/data/datasets/list.md
